/* Debug */

.ms_debug [class*="col-"] {
    background-color: rgba(255, 127, 80, 0.5);
    border: 1px solid black;
    height: 100px;
}

.ms_debug .h_150{
    height: 150px;
}

.ms_debug .h_200{
    height: 200px;
}

.ms_debug .h_300{
    height: 300px;
}

.ms_debug .h_400{
    height: 400px;
}

.ms_debug .h_500{
    height: 500px;
}

.ms_debug .h_600{
    height: 600px;
}

.p_10_top_bottom{
    padding: 10px;
}

.p_15_top_bottom{
    padding: 15px;
}

.p_20_top_bottom{
    padding: 20px 0;
}

.p_30_top_bottom{
    padding: 30px;
}

.p_50_top_bottom{
    padding: 50px 0;
}

.p_20_left_right{
    padding: 0 20px;
}

.m_70_top{
    margin-top: 70px;
}

.m_20_top{
    margin-top: 20px;
}

.m_20_bottom{
    margin-top: 20px;
}

.m_bottom_10{
    margin-bottom: 15px;
}
/* /Debug */


/* Classi riutilizzabili */
.bg_lgrey{
    background-color: #f3f5f9;
}

.bg_blue{
    background-color: #031c4e;
}

.bg_gradient{
    background-image: linear-gradient(#0048c5, #001e9a);
}

.bg_white{
    background-color: white;
}

.row .color_lblue{
    color: #006aff;
}

.row .color_blue{
    color:#031c4e;
}

.row .color_grey{
    color: #586686;
}

.row .color_dgrey{
    color: #5c6a88;
}

.row .color_lgrey{
    color: #7a859d;
}

.row h1,
.row h2{
    color: white;
}

.row h2{
    font-weight: 600;
}

.row .fw_600{
    font-weight: 600;
}

.row .h2_big{
    font-size: 2.8em;
}

.row .font_size{
    font-size: 0.9em;
    padding: 0 5px;
}

#deploy .row p,
#slider .row p,
#slider_2 .row p{
    font-size: 1.5em;
}

.row h3{
    color:#bbcdff;
    font-size: 1.7em;
}

.row h1{
    font-weight: 600;
    font-size: 4.3em;
}

/* /Classi riutilizzabili */

/* Header */
.ms_navbar{
    background-color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.ms_nav_logo img{
    height: 30px;
}

.ms_link li a{
    color: #031c4e;
    font-weight: 600;
}

.ms_link li a:hover{
    color: #0069ff;
    font-weight: 600;
    text-decoration: none;
}

.burg_menu i{
    line-height: 70px;
    cursor: pointer;
    opacity: 0.8;
    color: #0069FF;
    font-size: 1.6em;
}

.btn_white{
    color: #0069FF;
    border:1px solid #0069FF;
    background: #fff;
}

.btn_white:hover{
    color: #0069FF;
    border:1px solid #0069FF;
    background: #fff;
}

/* /Header */

/* Jumbotron */
.ms_jumbotron{
    background-image: url(../img/bg-home-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo_login{
    width: 100%;
    padding: 20px;
    border-radius:5px;
}

.jumbo_login input:not([type="submit"]){
    width: 100%;
    border-radius: 5px;
    line-height: 2em;
    padding: 5px;
    border: 1px solid #EEE;
}

.jumbo_login input:not([type="submit"]):hover,
.jumbo_login input:not([type="submit"]):active,
.jumbo_login input:not([type="submit"]):focus{
    border: 1px solid #005FE6;
}

.jumbo_login .btn{
    width: 100%;
}

.jumbo_login .row .google_signup::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: url('../img/google-icon.png');
    background-size: cover;
}
/* /Jumbotron */

/* Partners */
.ms_upper{
    font-size: 1.3em;
    text-transform: uppercase;    
}

.img_partner{
    width: 100%;
    height: 77px;
    vertical-align: middle;
}
/* /Partners */

/* Deploy */
.border_left{
    border-left: 2px solid #cccccc;
    margin-left: 15px;
}

.border_left p{
    line-height: 1.6;
    color: #75809a;
}


/* /Deploy */

/* Sliders */
.fa-chevron-left,
.fa-chevron-right{
    height: 100%;
    line-height: 100%;
    font-size: 30px;
    padding: 0 20px;
    vertical-align: middle;
}

.fa-chevron-left:hover,
.fa-chevron-left:active,
.fa-chevron-left:focus,
.fa-chevron-right:hover,
.fa-chevron-right:active,
.fa-chevron-right:focus{
    color: #0069FF;
}

.ms_slider{
    display: inline;
    text-align: center;
}

.img_slider{
    width: calc(100% - 126px);
}

.img_slider_xs{
    width: 100%;
}

#slider .row .circle_slider i,
#slider_2 .row .circle_slider i{
    color: #0069FF;
    font-size: 0.5em;
    border-radius: 50%;
}

.circle_slider i:hover,
.circle_slider i:active,
.circle_slider i:focus{
    background-color:#0069FF;
    color: white;
}

#slider .row p.text_slider,
#slider_2 .row p.text_slider{
    font-size: 1.3em;
    color: #031c4e;
}

.slider_box{
    width: calc(100% - 126px);
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.slider_box_xs{
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

#slider_2 .row .p_slider_bold{
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 30px;
}

#slider_2 .row .p_slider_normal{
    font-size: 1.3em;
}
/* /Sliders */

/* Regions */
.border_bottom{
    border-bottom: 1px solid white;
    width: 95%;
    padding-top: 5px;
}

.width_95{
    width: 95%;
    padding-top: 5px;
}

.upper_white{
    color: white;
    text-transform: uppercase;
}

.text_grey{
    color: #98a2b7;
}

#regions .row a{
    color: #00d7d2;
    padding: 5px 0;
}

#regions .row a:hover{
    color: #006aff;
    text-decoration: none;
}
/* /Regions */

/* Footer */
footer .btn_footer{
    color: #006aff;
    font-weight: 600;
}

footer .btn_footer:hover{
    color: white;
    background-color: #006aff;
    border: 1px solid #006aff;
}

.row .logo_small{
    margin-bottom: 15px;
}
#footer_bottom .row ul li{
    list-style: none;
    color: #a6adbd;
}

.row .social_icon a{
    font-size: 2em;
    padding-right: 10px;
    padding-bottom: 50px;
}

.row .social_icon a:hover{
    color: white;
}

#footer_bottom .row ul li a{
    font-size: 1.1em;
    font-weight: 600;
    color: #a6adbd;
    line-height: 2;
}

#footer_bottom .row ul li a:hover{
    text-decoration: none;
    color: white;
}

#footer_bottom .row ul li.ms_bold{
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}
/* /Footer */